body{
    width: 500px;
    margin: 0 auto;
}

h1{
    position: static;
    top:0;
}

p:nth-of-type(1){
    margin-top: 60px;
}

.positioned{
    position: sticky;
    top: 30px;
    left: 30px;
    padding: 1px;
    margin: 10px;
    background: rgba(255, 84, 104, .3);
    border: 2px solid rgb(244, 76,12);
    border-radius: 5px;
}
