.myclass{
    text-align: center;
    font-size:5vw;
    padding: 10vw;
    border: solid;
    background: repeating-radial-gradient(grey 30%, white 70%);
}

.myclass2{
    text-align: center;
    font-size:5vw;
    padding: 10vw;
    border: solid;
    background: repeating-linear-gradient(yellow 40%, white 60%);
}
