h3.h31{
    text-align: center;
}

h3.h32{
    text-transform: uppercase;
}

p.p4{
    text-transform: capitalize;
}

p.p5{
    margin-left: 20px;
    background-color: grey;
    margin-right: 60%;
}

p.serif{
    font-family: "Times New Roman", Times, serif;
}

p.sans-serif{
    font-family: Arial, Helvetica, sans-serif;
}

p.monospace{
    font-family: 'Courier New', monospace;
}

p.cursive{
    font-family: 'Brush Script MT', cursive;
}

p.fantasy{
    font-family: Copperplate, Papyrus, fantasy;
}

p.p6{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

section{
    padding: 25px;
    margin-left: 25px;
    margin-top: 15px;
    width: 25em;
    border: 40px;
    background-color: rgb(173, 173, 173);
}
.p8::first-line {
    color:red;
}

.p10::first-letter {
    font-size: 40px;
    color: red;
  }

h3.h33{
    border-top: 3px solid green;
}

ul{
    display: block;
}