p.p1{
    border: 2px solid blue;
    padding: 10px;
}

p.p2{
    border: 2px solid green;
    padding: 10px;
}

p.p3{
    border-top: 2px solid blue;
    border-bottom: 2px solid red;
    border-left: 2px solid grey;
    border-right: 2px solid green;
    padding: 10px;
}

p.p4{
    border: 6px solid yellow;
    padding: 10px;
    border-style: dotted;
}