@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
div.main {
    position: absolute;
    top: 0;
}

img.img1 {
    position: relative;
    left: 80%;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: rgb(135, 189, 142);
}

.dropdown {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 8px;
    position: relative;
}

.dropdown ul li {
    color: #437A16;
}

.dropdown ul {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.dropdown ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

.dropdown li:hover {
    background-color: rgb(200, 250, 126);
    color: #265301;
}

.dropdown li:hover>ul {
    display: block;
    background-color: #000;
}

a {
    text-decoration: none;
}

a:link {
    color: #265301;
}

a:visited,
.li-nonstyle {
    color: #437A16;
}

.h21 {
    color: #437A16;
    margin-top: 20px;
    margin-left: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.cards__item:hover {
    background-color: rgb(200, 250, 126);
}

.cards__item {
    flex-basis: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding: 10px;
    border: #265301 solid 5px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    margin-right: 20px;
    margin-top: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
div.main {
    position: absolute;
    top: 0;
}

img.img1 {
    position: relative;
    left: 80%;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: rgb(135, 189, 142);
}

.dropdown {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown li {
    padding: 8px;
    position: relative;
}

.dropdown ul li {
    color: #437A16;
}

.dropdown ul {
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

.dropdown ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

.dropdown li:hover {
    background-color: rgb(200, 250, 126);
    color: #265301;
}

.dropdown li:hover>ul {
    display: block;
    background-color: #000;
}

a {
    text-decoration: none;
}

a:link {
    color: #265301;
}

a:visited,
.li-nonstyle {
    color: #437A16;
}

.h21 {
    color: #437A16;
    margin-top: 20px;
    margin-left: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.cards__item:hover {
    background-color: rgb(200, 250, 126);
}

.cards__item {
    flex-basis: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding: 10px;
    border: #265301 solid 5px;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    margin-right: 20px;
    margin-top: 20px;
}

.cards__itemMain {
    flex-basis: 25%;
    padding-left: 5px;
    padding-right: 5px;
    padding: 10px;
    border: #265301 solid 2.5px;
    border-radius: 5px;
    text-align: justify;
    font-size: larger;
    margin: 20px 20px 20px 20px;
    border-style: dashed;
}

.img1 {
    border: 0.5em #265301 solid;
    border-radius: 5%;
    margin-left: 2%;
    width: 10%;
    height: 5%;
    position: static;
    margin-bottom: 15%;
}

p {
    padding: 10px;
}